html,body {
    margin: 0;
    height: 100%;
}

header {
    min-height: 15%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    min-height: 75%;
    background-color: lightgray;
}

.flex-item {
    width: 100%;
    min-height: 100%;
    margin: 10px;
    background-color: cornflowerblue;
}

footer {
    min-height: 10%;
}